.aboutCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    padding: 2vh 2vw 2vh 2vw;
    border-radius: 20px;
    background-color: var(--color-white);
    color: var(--color-white);
    text-align: center;
}

.training{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;

}
.background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
}   

@media (orientation: portrait), (max-width: 767px) and (orientation: landscape) {
    .aboutCard{
        flex-direction: column;
    }
    .training{
        width: 100%;
    }
    .background{
        width: 100%;
    }

}