.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}
.hero__container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    
}
.hero__panel.left{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0;
    gap: 0.5vh;
}
.hero__panel.right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* .hero__panel{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0 0 0;
    gap: 0.5vh;
} */
.hero .card__content{
    width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15vh 10vh 15vh 10vh;
  

}
.hero__panel.left{
    
}
.hero__panel.right{
    width: auto;
    
}
    

/* Images and Icons */
/* ---------------------- */

.hero__icons{
    display: flex;
    width: 100%;
    margin-top: 3vh;
    justify-content: start;
    gap: 3vw;   
}
.hero__icons ul li img {
    width: 50px;
    height: 50px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    transition: all 0.5s;

}
.icon {
    width: 50px;
    height: 50px;
    
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    transition: all 0.5s;
}   
.icon:hover {
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0));
    transform: scale(1.1);
    transition: all 0.5s;
}
.me {
    width: 75%;
    max-width: 25vw;
    height: auto;
    
    border-radius: 500px;
    filter: contrast(0.8) brightness(1.1) saturate(1.2) drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
    animation: float 5s ease-in-out infinite;
    z-index: 2;
}
@keyframes float {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

/* Media Queries */
/* ------------------------ */

@media (orientation: portrait) {
    .hero .card__content {
      flex-direction: column;
      justify-content: center;
      padding: 5vh;
    }
  
    
    .hero__panel.left,
    .hero__panel.right {
    
        width: 100%;
        align-items: center;
        text-align: center;
        gap: 2vh;
    }
    .hero__icons {
        justify-content: center;
        padding-bottom: 5vh;
        
    }
  }


/* .hero{
    margin-top: 15vh;
}

.left{
    padding-left: 20%;
    
}
.hero__icons ul li img {
    width: 20%;
}
.right{
    padding-right: 15%;    
}

.hero__panel h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #000;
}
.hero__panel h3 {
    font-size: 2rem;
    font-weight: 600;
    color: #000;
}
.hero__panel p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #000;
    margin: 20px 0;
}
 */