
.contact.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 80vh;
    width: 95%;
}

.contact .card{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.contactForm{
    
}
.contactPanel{
    padding: 5vh 5vw 5vh 5vw;
    margin: 0vh 15vw 0vh 0vw;
    border-radius: 20px;
}
.contact .icons__bar{
    display: flex;
    flex-direction: column;
}


@media (orientation: portrait), (max-width: 767px) and (orientation: landscape){
    
    .contact .card{
        flex-direction: column;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5vh;
        margin: 0;
     
    }
    
    .contactPanel{
        padding: 5vh 5vw 5vh 5vw;
        margin: 0vh 0vw 0vh 0vw;
        border-radius: 20px;
    }
    .contactPanel .icons__bar{
        flex-direction: row;
        margin: 0 auto;
        padding: 0;
        gap:5vh;
    }

}