.main{
    background-color:steelblue;
    display: flex;
    flex-direction: column  ;
    justify-content: start;
    align-items: center;
    height: 100vh;
    min-height: auto;
    width: 100%;
    margin: 0 auto;
    overflow-y: scroll;



    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    
}
.main::-webkit-scrollbar {
    width: 0px;
}

section {
    /* background-color: antiquewhite; */
    border: 1px solid transparent;  
    
    /* box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.1); */
    /* background: linear-gradient(45deg, #8278f3, #4299af); */
    width: 95%;
    
    /* margin: 5vh auto; */
    border-radius: 20px;
    
    /* margin-top: 15vh;
    padding: 3vh 0.5vw 3vh 0.5vw;
    min-height: 80vh;
    gap: 3vh;
    scroll-snap-align: start;
    scroll-margin-top: 15vh; */

    display: flex;
    flex-direction: row wrap;
    justify-content: start;
    align-items: center;


    
}
section.hero {
    max-height: auto;
}
section.about{
    flex-direction: column;
}
section.skills{
    flex-direction: column;
    
}
section.projects{
    flex-direction: column;
}
section.contact{
    flex-direction: column;
    margin-bottom: 5vh;
}

@media (orientation: portrait) {
    
    .card__container{
        
    }
    .card__content{
        flex-direction: column;

    }

}