:root{
    /* Colours */
    
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;

    --color-bg: #e0e0e0;
    --color-bg-light: #bebebe;
    --color-bg-dark: #ffffff;

    --color-base: rgb(225, 225, 225);
    --color-shadow: rgb(200, 200, 200);
    --color-light: rgb(255, 255, 255);


    
    
    /* Fonts */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;     

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
       
}