.page{
    
    background: linear-gradient(
        45deg,
        var(--color-gradient-primary),
        var(--color-gradient-secondary)
    );

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 80vh;
    margin: 15vh 0 5vh 0;
    padding: 3vh 0.5vw 3vh 0.5vw;
    width: 95%;
    gap: 3vh;
    scroll-snap-align: start;
    scroll-margin-top: 15vh;
    min-height: 80vh;
    border-radius: 20px;

}

@media (orientation: portrait){
    .page{
        min-height: auto;
        margin: 8vh 0 5vh 0;
    }
    .card{
        padding: 5vh 0.5vw 5vh 0.5vw;
        
    }

}
