.aboutCardItem{
    /* background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); */

    /* padding: 10px;
    margin: 10px; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    


    width: 100%;
    
}
.aboutCardItem__element{
    margin: 0.5vh;
    padding: 0.5vh;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid transparent;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}
.aboutCardItem__element p {
    max-width: auto;
}