.contact.page{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    min-height: 80vh;
}

.contact .page__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5vh;
    margin-bottom: 0vh;

}

@media (orientation: portrait) {
    .contact.page{
        min-height: auto;
    }
}