.projects{
    min-height: auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.projects .card {
    width: 95%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    background-color: #f5f5f5;
    
}

@media (orientation: portrait){
    .projects .card{
        width: 100%;
        padding: 5vh 0 5vh 0;
        
    }

}