.projectCard{
    width: 95%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: all 0.3s ease;
    margin: 5vh auto;
}
.image{
    
}
.slider{
    width: 30em;
    object-fit: cover;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.slider img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: all 0.3s ease;
    padding: 2vh;
}
.info{
    width: 60%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
}
.info h3{
    font-size: 1.5rem;
    margin: 1rem 0;
    
}
.info p{
    font-size: 1rem;
    padding: 1rem;
    text-align: justify;
    text-indent: 2em;
    
}
.info .tools{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    padding: 1rem;
}
.info .tools span{
    border-radius: 20px;
    padding: 0.5rem 1rem;
}
.links{
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 2vh;
    padding: 2vh;
}
.links a{
    
    font-size: 1.5rem;
    border-radius: 20px;
    transition: all 0.3s ease;
}

@media (orientation: portrait) {
    .projectCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        padding: 0;
        margin: 0 auto;
        text-align: center;
    }
    .slider {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        padding: 0;
        margin: 0 auto;
        text-align: center;
        border-radius: 20px;
    }

    .slider img {
        width: 90vw;
        border-radius: 20px;
        
    }
    .info {
        width: 100%;
        align-items: flex-start;
    }
}