/* .skills .page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 80vh;
} */
.skills .card{
    width: 95%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin: 0 auto;
    border-radius: 20px;

    text-align: left;

}




@media (orientation: portrait), (max-width: 767px) and (orientation: landscape) {
    .skills.page{
        min-height: auto;
    }
}

/* @media (orientation: portrait), (max-width: 767px) and (orientation: landscape) { */