.skillCardItem{
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 5px 50px 5px 50px;
    cursor: pointer;
}

.skillCardItem:hover{
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
}