.project__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0vh;
    margin-bottom: 0vh;

}

@media (orientation: portrait) {
    .projects__container{
        flex-direction: column;
        gap: 20vh;
    }
    .projects{
        min-height: auto;
    }
    
}